name: E2E on Chrome
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    name: Tests on chrome
    steps:
      - uses: actions/checkout@v2  
      - uses: cypress-io/github-action@v4
        with:
          browser: chrome
          headed: true  
      - name: Upload report
        uses: JamesIves/github-pages-deploy-action@4.1.4
        if: always()
        with:
          branch: gh-pages
          folder: cypress/reports/html